*{
    font-family: monospace; /* fonte de meu gosto para todo o site */
    
}
 
 body {
            margin: 0;
            padding: 0;
            line-height: 1.6;
           
        }
        
        
        /* posicionamento correto do header no topo da pagina com largura total da página */
        header {
            background: #3b181d;
            padding-bottom: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            font-size: large;
        }

        header h1{
            margin: 0;
        }


        #sobre {
            background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /*camada preta em cima da imagem para escurecer */
                url("../img/aboutme.png") no-repeat center;  
            color: #fff;   
            background-size: cover;
            text-align: center;  
            padding-top: 80px; /* padding do tamanho do header para evitar sobreposição */
        }

        #sobre p {
            padding: 2px 2px;
            font-size: 20px;
            text-align: justify;
            
        }

        #sobre h2 {
            padding-bottom: 20px;
        }

        #logo {
            text-align: center;
            padding: 0;
            color: #feb06a;
        }
        
        #formacao {
            background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /*camada preta em cima da imagem para escurecer */
                url("../img/formacao.png") no-repeat center;
            color: #feb06a;
            padding-top: 20px;
        }


        #formacao ul li{
            padding: 25px 30px;
            font-size: 16px;
        }

        #portfolio {
           background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* camada preta em cima da imagem para escurecer */
                url("../img/portfolio.png") no-repeat center;
            color: #ffffff;
            padding-top: 20px; 
        }

        #portfolio ul li{
            padding: 25px 25px;
            font-size: 20px;
        }


        #contato {
            background: #fbfbfb;
            color: #feb06a;
            padding-top: 20px;
            min-height: 60vh; /* definindo altura máxima da seção para eliminar desperdício de espaço */
        }

        header a {

            color: #feb06a;
        }

        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            margin: 0 5px;
            
        }
        nav ul li a:hover {
            background-color: #feb06a;
            color: #121212;
        }

        nav ul li a {   
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px;
        }


        section {
          padding: 150px 50px;
          min-height: 100vh;
          scroll-margin-top: 87px; /* altura do header + 7px de margem para redirecionamento da ancora ficar alinhado com o texto */
          font-size: 16px;
        }
        section a{
            text-decoration: none;
            color: inherit;
        }

        section a:hover {
            text-decoration: underline;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        /*  fromatação e aplicação de estilos no formulário */
        form {
            max-width: 500px;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        input, textarea {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #aaa;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            padding: 10px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background: #555;
        }

        /* estilos do footer */
        footer {
            color: #eee;
            background-color: #3b181d;
            text-align: center;
            
        }

        footer p {
            margin: 0;
        }

        
        /* aplicação de largura minima da página para responsividade */
        
        @media (max-width: 768px) {

           

            nav ul li {
                margin: 5px 0;
            }   
            
            #logo h2 {
                font-size: 16px;
            }
            
            #sobre {
                padding-bottom: 20px;
            }
            
            #sobre p {
                font-size: 16px;
                margin-bottom: 0;
                padding: 0;
            }
        
            #contato {
                min-height: 65vh;
            }
            

        }   
        /* aplicação de estilos do tema escuro */
        
        .dark-mode header{
            background-color: #000000;
        }
        
        .dark-mode #sobre {
            background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* camada preta transparente */
                url("../img/aboutme2.png") no-repeat center;
        }

        .dark-mode header a {
            color: #256083;
        }

        .dark-mode #formacao {
            background: 
                url("../img/formacao2.png") no-repeat center;
        
            color: #ffffff;
        }
        .dark-mode #portfolio {
             background: 
                url("../img/portfolio2.png") no-repeat center;
            color: #ffffff;
        }
        .dark-mode #contato {
            background: #090909;
            color: #ffffff;
        }
        .dark-mode button {
            background: #eee;
            color: #222;
        }

        .dark-mode footer {
            background-color: #000000;
        }
        /* estilos do botão toggle */
        .theme-toggle {
            position: fixed;
            bottom: 25px;
            right: 25px;
            background: #333;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            font-size: 1.4rem;
        }